body {
    font-family: "Times New Roman", Times, serif;
}
h1 {
    margin-bottom: 1;
}
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    left: 25%;
    transform: translateX(50%);
}
header {
    display: flex;
    gap: 2rem;
    align-items: center;
}
table, th, td {
    border: 3px solid blue;
    border-collapse: collapse;
}
th, td {
    padding: 1rem 0.5rem;
}